.SearchRepositories__error-message {
    display: inline-flex;
    background-color: var(--error-light);
    color: var(--error);
    padding: 12px 16px;
    border-radius: 6px;
    margin-top: 16px;
}

.SearchRepositories__results-container {
    margin-top: 32px;
}

.SearchRepositories__results-title {
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--text-primary);
}

.SearchRepositories__no-results {
    text-align: center;
    color: var(--text-secondary);
    margin-top: 48px;
}
