/* Include styleguide styles for HTML main elements */

/* headings */
h1 {
    font-size: var(--display-h1);
    line-height: 1.1;
}

h2 {
    font-size: var(--display-h2);
    line-height: 1.2;
}

h3 {
    font-size: var(--display-h3);
    line-height: 1.25;
}

h3 {
    font-size: var(--display-h4);
    line-height: 1.3;
}

/* Anchor (should be a compoent) */
a {
    text-decoration: none;
    margin: 0;
}
a.Anchor {
    --main-color: var(--primary-dark-color);
    --hover-color: var(--primary-color);

    color: var(--main-color);
    font-weight: 600;
    line-height: 1.33;
}

a.Anchor svg {
    fill: var(--main-color);
}

a.Anchor > span {
    display: inline-flex;
}

a.Anchor:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

a.Anchor:hover svg {
    fill: var(--hover-color);
}
