@import './@styleguide/styles/index.css';

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: -0.03em;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-primary);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.Container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
